@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="billetWrapper">
    <div class="full_article_container">
        <h1 class="text-error">Ошибка</h1>
        <h2 class="text-error">Произошла ошибка во время выполнения вашего запроса.</h2>
    </div>
</div>


