@{
    ViewData["Title"] = "InProgress";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="billetWrapper">
    <div class="full_article_container">
        <h1 class="text-info">В разработке</h1>
        <h2 class="text-info">Этот раздел находится в разработке. Зайдите позже.</h2>
    </div>
</div>

