@using LibraryMVC2.Models
@model BookPresentationContainer
@{
    ViewBag.Title = "AddBook";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="billetWrapper">
    <div class="full_article_container">
        <h2>Добавить книгу</h2>
        @if (Model.Type == "text")
        {
            using (Html.BeginForm("AddTextBook", "ManageModel"))
            {
                @Html.EditorFor(b => b.TextBookPresentation)
                <input type="submit" value="Добавить" />
                <br /><br />
            }
        }
        else if (Model.Type == "audio")
        {
            using (Html.BeginForm("AddAudioBook", "ManageModel"))
            {
                @Html.EditorFor(b => b.AudioBookPresentation)
                <input type="submit" value="Добавить" />
                <br /><br />
            }
        }
    </div>
</div>